body {
  background-color: #202020;
  font-family: Nunitos Sans;
}
/* --------------------  header  --------------  */
.header-container{
  display: flex;
}
.header {
  width: 100%;
  display: inline-block;
  height: 30px;
  padding: 0.1rem;
  border-radius: 20px;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: inline-block;
}
.logo img{
  display: inline;
  width: 200px;
  height: 40px;
}
.search{
  border-radius: 20px;
  background-color: white;
  margin: 0.5rem;
  padding: 0.2rem;
  }
.search input {
  border: none;
}
.search input:focus{
  border: none;
}


.user-info{
  width: 15%;
  display: flex;
  justify-content: space-around;
}



/* -------------------- title --------------  */
.title-container {
  font-family: Inter;
  display: flex;
  justify-content: space-around;
  
  margin-top: 0.1rem;
  background-color: #181818;
  color: rgb(99, 98, 98);
  border-radius: 10px;
  padding: 0.3rem;
  position: relative;
}
.title-container div {
  width: 100%;
  text-align: center;
  border-right: 1px solid white;
  font-size: 1.4rem;
  position: relative;
  font-weight: bold;
  
}
.active {
  color: white;
}
.title-container div:last-child {
  border-right: none;
}
.subtag::before {
  content: "comming soon";
  font-family: Inter;
  background-color: #554DB7;
  color: rgb(175, 174, 174);
  font-size: 10px;
  border-radius: 20px;
  position: absolute;
  top: -20%;
  left: 40%;
  padding: 0 2px 0 2px;
}

/* --------------------  main --------------  */
.main {
  background-color: #181818;
  border-radius: 10px;
  margin-top: 0.2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}

.side {
  background-color: #202020;
  width: 20%;
  margin: 0.5rem;
  border-radius: 20px;
  padding: 0.1rem;
  color: white;
}
.side h2 {
  font-family: Inter;
  text-align: center;
  font-size: 1.5rem;
}
select {
  width: 100%;
  border-radius: 10px;

  color: rgb(185, 183, 183);
  border: 1px solid rgb(150, 147, 147);
  padding: 5px;
  margin: 5px;
  background-color: #202020;
}
select:hover{
  border: 1px solid white;
}

span {
  color: #a7a7a7;
  font-size: 0.7rem;
}
form div {
  margin: 10px;
}
form button {
  width: 90%;
  padding: 10%;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #554db7;
  color: white;
  font-size: 1.5rem;
  border: 1px solid rgb(150, 147, 147);
}

.main-info {
  background-color: #202020;
  height: 100%;
  width: 75%;
  margin: 0.2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  align-items: center;
}
.main-section {
  width: 98%;
  height: 15%;
  border-radius: 20px;
  background: linear-gradient(
    343deg,
    rgba(118, 75, 162, 1) 0%,
    rgba(99, 109, 153, 1) 8%,
    rgba(22, 24, 31, 1) 60%
  );
  color: white;
  border: solid 1px rgb(150, 147, 147);
  
}
.sigmant-container {
  font-family: Inter;
  display: flex;
  justify-content: space-around;
  padding: 1%;
}
.sigmant {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0.7rem;
}
.sigmant-container div {
  border-right: 1px solid white;
}
.sigmant-container div:last-child {
  border: none;
}
.sigmant img {
  width: 1.5rem;
  padding-right: 5px;
}
.main-section p {
  padding-left: 1rem;
}
.info-section {
  width: 99%;
  background-color: #181818;
  border-radius: 20px;
  border: solid 1px rgb(150, 147, 147);
  margin: 0.2rem;
  transition: all 0.5s linear;
  
}
.info-section:hover{
  border: solid 1px white;
  border-radius: 0;
  padding: 10px;
}

.info-section p {
  padding-left: 1rem;
  color: white;
  font-size: 0.8rem;
  
}

@media only screen and (max-width: 700px) {
  * {
    font-size: 1rem;
  }
  
  .header-container{
    display: block;
  }
  .logo img{
    padding-left: 100%;
  }
  .user-info{
    width: 40%;
  }
  .main {
    flex-direction: column;
    padding-left: 20%;
    
  }
  .title-container
{
  flex-direction: column;
  
}
.title-container div{
  border:none
}
.subtag::before{
  left: 20%;
  top: 20%;
}
  .side {
    width: 80%;
    
  }
  form button{
    padding: 20px;
    margin-left: 10px;
  }

  .main-info {
    width: 80%;
  }
  .header {

    padding: 5px; 
  }
}
@media screen and (max-width: 400px) {
  * {
    font-size: 0.7rem;
  }


